table{
  border-collapse: collapse; 
  padding: 30px;
  margin-left: 200px;
  background-color: white;
}

th,td{
  border:2px solid black;
  padding: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropbtn {
  font-size: 20px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.sales{
 background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.sales a.active,a:hover{
  background: #008000;
  transition: .5s;
;
}

form.search input.search-button {
        margin-top: 2px;
        border-radius: 8px;
        font-size: 15px;
        padding: 10px 15px;
        background-color: #7FFFD4;
}

form.search input.text {
        margin-top: 2px;
        border-radius: 8px;
        font-size: 15px;
        padding: 10px 15px;
}

 aside.left-sidebar table {
        border-collapse: collapse;
        margin-left: 2px;
        width: 100%;
    }

aside.left-sidebar th {
  background-color: #FF00FF;
}

aside.right-sidebar table {
        border-collapse: collapse; 
        margin-left:90px;
    }

aside.right-sidebar th {
  background-color: #6495ED;
}